{{#each this}}
<div class="photo-card gallery__item">
    <a class="" href={{largeImageURL}}><img class="small-image gallery__image" width="340" height="220" src={{webformatURL}} alt={{tags}} loading="lazy" /></a>
    <div class="info">
        <p class="info-item">
            <b>Likes </b><span class="info-query">{{likes}}</span>
        </p>
        <p class="info-item">
            <b>Views </b><span class="info-query">{{views}}</span>
        </p>
        <p class="info-item">
            <b>Comments </b><span class="info-query">{{comments}}</span>
        </p>
        <p class="info-item">
            <b>Downloads</b><span class="info-query">{{downloads}}</span>
        </p>
    </div>
</div>
{{/each}}